@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: 
       url(./assets/fonts/ProximaNova-Regular.woff) format('woff'),
       url(./assets/fonts/ProximaNova-Regular.eot) format('eot'),
       url(./assets/fonts/ProximaNova-Semibold.woff) format('woff'),
       url(./assets/fonts/ProximaNova-Semibold.eot) format('eot');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(./assets/fonts/ProximaNova-Bold.woff) format('woff'),
       url(./assets/fonts/ProximaNova-Bold.eot) format('eot');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(./assets/fonts/ProximaNova-Semibold.woff) format('woff'),
       url(./assets/fonts/ProximaNova-Semibold.eot) format('eot');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Proxima Nova',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}